@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
:root{
  --main-color: #275C45;
  --secondary-color: #01A84D;
  --bg-color: #F5F5F5;
  --gray-color: #636363;
}
body{
  background-color: var(--bg-color) !important;
  font-family: "Cairo", sans-serif !important;
}